@import url("public.css");

input{
	outline: none;
}
.tit1{
	width: 1024px;
	margin: 0 auto;
	text-align: center; 
	margin-top: 46px;
}
.con_fa_nk{
	width: 1024px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}
.tp{
	width: 97%;
	height: 272.56px;
	margin: 15px;
}
.tp img ,.tp1 img{
	width: 100%;
	height: 100%;
}
.tp1{
	width: 100%;
    height: 197px;
    margin-top: 32px;
}

.con{
	width: 974px;
	color: #3E3E3E;
	font-size: 14px;
	margin: 50px auto;
}
.con_tit{
	color: #000;
	font-size: 32px;
	margin-top: 50px;
	text-align: center;
}
.con_fa_nk{
	width: 1024px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}
.con_tit_small{
	color: #878787;
	font-size: 14px;
	margin-top: 10px;
	text-align: center;
}
.fenye{
	color: #F0443A;
	font-size: 14px;
	padding: 0px 60px;
	overflow: hidden;
}
.fenye li{
	float: left;
}
.fenye :last-child{
	float: right;
}
.fenye li:hover{
	color: #878787;
}
.btn{
	display: block;
	width: 98px;
	height: 49px;
	background: #fff;
	border: 3px solid #3E3E3E;
	margin: 50px auto;
}
.btn:hover{
	color: #fff;
	background: #3E3E3E;
}
