<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>产品分类</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <style>
        .box{
            width: 80%;
            margin: 0 auto;
        }
        .tit{
            font-size: 30px;
            color: #0C0C0C;
            font-weight: 600;
            text-align: center;
            margin: 20px auto;
        }
        #editForm{
            display: none;
            margin-top: 20px;
            padding-right: 40px;
        }
    </style>
</head>
<body>
    <div class="box">
        <p class="tit">产品分类内容</p>
    <table class="layui-hide" id="demo"></table>
        <script type="text/html" id="options">
            <button type="button" class="layui-btn layui-btn-xs" onclick="edits({{d.cid}})"><i class="layui-icon"></i></button>
            <button type="button" class="layui-btn layui-btn-xs layui-btn-danger"><i class="layui-icon" onclick="det({{d.cid}})"></i></button>
        </script>
    </div>
    <form class="layui-form" action="" id="editForm">
        <input type="hidden" name="cid" required  lay-verify="title" autocomplete="off" placeholder="请输入商品排序" class="layui-input">
            <div class="layui-form-item">
                <label class="layui-form-label">商品名称</label>
                <div class="layui-input-block">
                    <input type="text" name="cname" required  lay-verify="title" autocomplete="off" placeholder="请输商品名称" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">商品排序</label>
                <div class="layui-input-block">
                    <input type="text" name="csort" required  lay-verify="title" autocomplete="off" placeholder="请输入商品排序" class="layui-input">
                </div>
            </div>
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-filter="demo1" lay-submit="" >提交</button>
        </div>

    </form>
</body>
</html>
<script src="../static/layui/layui.js"></script>
<script>
    var $;
    var layer;
    var form , table;
    var index , delIndex;
    layui.use(['table', 'jquery','layer','form'],function(){
         table = layui.table;
        layer=layui.layer;
        $=layui.jquery;
        form=layui.form;
        //展示已知数据
        table.render({
            elem: '#demo'
            ,url:"category.php?type=querys"
            ,cols: [[ // 标题栏
                {field: 'cid', title: 'ID', sort: true}
                ,{field: 'cname', title: '分类名称'}
                ,{field: 'csort', title: '排序',templet: function (d) {
                            return `<input type="number" name="scort" value="${d.csort}" onchange="sorts(${d.cid},this)">`
                        }}
                ,{title: '操作',templet:'#options'}
            ]]

            // ,skin: 'line' //表格风格
            // ,even: true
            ,page: true //是否显示分页
            ,limits: [5, 10, 15]
            ,limit: 5 //每页默认显示的数量
        });
        //修改数据
        form.on('submit(demo1)',function (data) {
            $.post("category.php?type=edit",data.field,function (res) {
                 let data=JSON.parse(res);
                 if(data.code==200){
                     layer.close(index);
                     layer.msg(data.msg,{icon:6});
                     table.reload('demo');
                 }else{
                    layer.msg(data.msg,{icon:5})
                 }
            });
            return false;
        })
    });
    //点击编辑按钮
    function edits(cid) {
        index=layer.open({
            type:1,
            title:'修改产品分类',
            area:['400px','250px'],
            skin:'layui-layer-molv',
            content:$('#editForm'),
        })
        // console.log(cid);
        $.get("category.php?type=query",{cid:cid},function (res) {
            var data=JSON.parse(res);
            if(data.code==200){
                $("input[name='cid']").val(data.data.cid);
                $("input[name='csort']").val(data.data.csort);
                $("input[name='cname']").val(data.data.cname);
            }else{
                layer.msg(data.msg);
            }
        })
    }
    //点击删除按钮
    function det(cid) {
        delIndex=layer.confirm('您确定要删除么？',{
            title:'删除',
            skin:'layui-layer-molv',
            btn:['确认','取消']
        },function () {
            $.get("category.php?type=delete",{cid:cid},function (res) {
                let data=JSON.parse(res);
                if(data.code==200){
                    layer.close(delIndex);
                    layer.msg(data.msg,{icon:1});
                    table.reload('demo');
                }else{
                    layer.msg(data.msg,{icon:2})
                }
            })
        },function () {
            layer.close(delIndex);
        })
    }
    //排序
    function sorts(cid,obj){
        let val = $(obj).val();

        $.get('category.php?type=sorts',{cid:cid,val:val},function (res) {
            let data=JSON.parse(res);
            if(data.code==200){
                layer.msg(data.msg,{icon:1});
                table.reload('demo',{
                   page: {
                       curr:1
                   }
                });
            }else{
                layer.msg(data.msg,{icon:2})
            }
        })

    }
</script>