<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>产品分类</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <style>
        .box{
            width: 80%;
            margin: 0 auto;
        }
        .tit{
            font-size: 30px;
            color: #0C0C0C;
            font-weight: 600;
            text-align: center;
            margin: 20px auto;
        }
        #editForm{
            display: none;
            margin-top: 20px;
            padding-right: 40px;
        }
    </style>
</head>
<body>
<div class="box">
    <p class="tit">管理员管理</p>
    <table class="layui-hide" id="demo"></table>
    <script type="text/html" id="options">
        <button type="button" class="layui-btn layui-btn-xs" onclick="edits({{d.id}})"><i class="layui-icon"></i></button>
        <button type="button" class="layui-btn layui-btn-xs layui-btn-danger"><i class="layui-icon" onclick="det({{d.id}})"></i></button>
    </script>
</div>
<form class="layui-form" action="" id="editForm">
    <input type="hidden" name="id" required  lay-verify="title" autocomplete="off" placeholder="请输入商品排序" class="layui-input">
    <div class="layui-form-item">
        <label class="layui-form-label">管理员账号</label>
        <div class="layui-input-block">
            <input type="text" name="username" required  lay-verify="title" autocomplete="off" placeholder="请输服务项目名称" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">管理员密码</label>
        <div class="layui-input-block">
            <input type="text" name="password" required  lay-verify="title" autocomplete="off" placeholder="请输入务项目内容" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">管理员头像</label>
        <div class="layui-input-block">
            <!--            <input type="text" name="sthumb" required  lay-verify="title" autocomplete="off" placeholder="服务项目缩略图" class="layui-input">-->
            <input type="hidden" name="head_img" value="">
            <!--                <button type="button" class="layui-btn" id="test1">上传图片</button>-->
            <div class="layui-upload-list">
                <img class="layui-upload-img" id="imgurl" width="30%">
                <p id="demoText"></p>
            </div>
        </div>
    </div>
    <div class="layui-input-block">
        <button type="submit" class="layui-btn" lay-filter="demo1" lay-submit="" >提交</button>
    </div>

</form>
</body>
</html>
<script src="../static/layui/layui.js"></script>
<script>
    var $;
    var layer;
    var form , table;
    var index , delIndex;
    layui.use(['table', 'jquery','layer','form'],function(){
        table = layui.table;
        layer=layui.layer;
        $=layui.jquery;
        form=layui.form;
        //展示已知数据
        table.render({
            elem: '#demo'
            ,url:"manager.php?type=querys"
            ,cols: [[ // 标题栏
                {field: 'id', title: 'ID', sort: true}
                ,{field: 'username', title: '管理员账户'}
                ,{field: 'password', title: '管理员密码'}
                ,{field: 'head_img', title: '管理员头像',templet:function (d) {
                        return `<img src="..${d.head_img}" style="width: 50px" >`
                    }}
                ,{title: '操作',templet:'#options'}
            ]]
            // ,skin: 'line' //表格风格
            // ,even: true
            ,page: true //是否显示分页
            ,limits: [5, 10, 15]
            ,limit: 5 //每页默认显示的数量
        });
        //修改数据
        form.on('submit(demo1)',function (data) {
            $.post("manager.php?type=edit",data.field,function (res) {
                let data=JSON.parse(res);
                if(data.code==200){
                    layer.close(index);
                    layer.msg(data.msg,{icon:6});
                    table.reload('demo');
                }else{
                    layer.msg(data.msg,{icon:5})
                }
            });
            return false;
        })
    });
    //点击编辑按钮
    function edits(id) {
        index=layer.open({
            type:1,
            title:'修改产品分类',
            area:['400px','400px'],
            skin:'layui-layer-molv',
            content:$('#editForm'),
        })
        // console.log(sid);
        $.get("manager.php?type=query",{id:id},function (res) {
            var data=JSON.parse(res);
            if(data.code==200){
                $("input[name='id']").val(data.data.id);
                $("input[name='username']").val(data.data.username);
                $("input[name='password']").val(data.data.password);
                $("input[name='head_img']").val(data.data.head_img);
                $("#imgurl").attr('src',"../"+data.data.head_img);
            }else{
                layer.msg(data.msg);
            }
        })
    }
    //点击删除按钮
    function det(id) {
        delIndex=layer.confirm('您确定要删除么？',{
            title:'删除',
            skin:'layui-layer-molv',
            btn:['确认','取消']
        },function () {
            $.get("manager.php?type=delete",{id:id},function (res) {
                let data=JSON.parse(res);
                if(data.code==200){
                    layer.close(delIndex);
                    layer.msg(data.msg,{icon:1});
                    table.reload('demo');
                }else{
                    layer.msg(data.msg,{icon:2})
                }
            })
        },function () {
            layer.close(delIndex);
        })
    }

</script>