	<?php
		$news=$mysqli->query("select nid,ntitle,update_time from news order by nid asc limit 6")->fetch_all(MYSQLI_ASSOC);
	?>
		<link rel="stylesheet" type="text/css" href="../static/index/css/newlist.css" />
	<body>
		<!--导航-->
		<!--内容-->
		<div class="con_fa_nk">
			<div class="tp">
				<img src="../static/index/img/15142754004385aixtc.jpg" />
			</div>

			<div class="biaoti1">
				<span class="us1">养护知识</span>
				<span class="us2">Knowledgement</span>
			</div>
			<ul class="con3_nr">
				<?php foreach($news as $v) { ?>
					<li>
						<a href="newsdetail.php?nid=<?php echo $v['nid']?>">
							<?php echo $v['ntitle'] ?>
						</a>
						<span>
							<?php echo $v['update_time'] ?>
						</span>
					</li>
				<?php } ?>
			</ul>
			<div class="tp1">
				<img src="../static/index/img/15762881287244pmljh.jpg" />
			</div>
		</div>
		<!--返回顶部-->

		<!--站点地图-->
	<script src="../static/index/js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
	<script src="../static/index/js/public.js" type="text/javascript" charset="utf-8"></script>

	</body>

</html>