*{
    padding: 0;
    margin: 0;
}
body{
    background: url("../img/background.jpg") no-repeat;
    background-size: cover;
}
.login_fa{
    background: rgba(180,180,182,.5) ;
    width: 600px;
    height: 370px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0px 0px 8px 0px #2B2C30;
}
.login_fa .layui-form .layui-input-block .layui-input{
    width: 82%;
}
.dl_logo{
    height: 80px;
    line-height: 80px;
    width: 100%;
    font-size: 24px;
    color: #0C0C0C;
    margin-top: 15px;
    text-align: center;
}
.dl_logo img{
    margin-left: 135px;
}
.btn{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
}
.shuru1{
    margin-top: 30px;
}
.shuru2{
    margin-top: 30px;
}